@media (max-width: 1200px){
    .promo{
        width: 100%;
        margin-right: 10px;
    }
    .catalog{
        &__content{
            min-width: 950px;
        }
        &-item{
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    .reviews{
        margin-right: 30px;
        margin-left: 30px;
    }
    .modal{
        width: 350px;
        padding: 30px 35px 30px 35px;
        &__subtitle{
            font-size: 17px;
        }
        &__descr{
            font-size: 13px;
        }
        .feed-form{
            width: 280px;
        }
        &__close{
            font-size: 38px;
        }
    }
}

@media (max-width: 992px){
    .promo{
        .header{
            margin: 0 20px;
        }
        &__wrapper{
            align-items: center;
            margin: 60px auto;
        }
    }
    .advantages{
        &__wraper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        &__item{
            padding-right: 25px;
            margin: 0 auto;
            &:nth-child(3){
                padding-right: 0;
            }
        }
    }
    .consultation{
        min-height: 630px;
        padding: 80px 0 80px 30px;
        .title_left{
            font-size: 30px;
        }
        &__descr{
            font-size: 18px;
        }
        .feed-form{
            margin-top: 30px;
        }
    }
    .carousel{
        padding-top: 60px;
        &__inner{
            width: 600px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .catalog{
        &__content{
            min-width: 770px;
            justify-content: center;
        }
        &-item{
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    .reviews{
        &-item{
            margin-bottom: 70px;
        }
    }
    .footer{
        height: 600px;
        &__map{
            height: 600px;
        }
        &__info{
            width: 400px;
            height: 250px;
            padding: 40px 40px 30px 40px;
        }
        &__addr{
            margin-bottom: 30px;
            line-height: 19px;
            font-size: 19px;
        }
        &__phone{
            margin-bottom: 34px;
            line-height: 19px;
            font-size: 19px;
        }
    }
}

@media (max-width: 768px){
    .promo{
        min-height: 575px;
        padding: 21px 0 50px 0;
        .header{
            &__logo{
                width: 200px;
            }
            &__official{
                font-size: 10px;
                span{
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
            &__phone{
                font-size: 14px;
                margin-bottom: 5px;
            }
            .button{
                width: 140px;
                height: 30px;
            }
        }
        &__wrapper{
            margin: 40px auto;
        }
        &__header{
            font-size: 35px;
        }
        &__subheader{
            font-size: 20px;
            margin-top: 0;
        }
        &__icons{
            margin-top: 40px;
        }
        &__icon{
            font-size: 12px;
        }
        .button_main{
            width: 270px;
            font-size: 15px;
            margin-top: 50px;
        }
        &__link{
            font-size: 14px;
            margin-top: 15px;
        }
    }
    .advantages{
        padding: 48px 0 50px 0;
        &__header{
            font-size: 27px;
        }
        &__item{
            padding-right: 25px;
            img{
                margin-top: 30px;
            }
        }
        &__descr{
            width: 330px;
            margin-top: 17px;
            font-size: 12px;
            span{
                font-size: 16px;
            }
        }
    }
    .consultation{
        padding: 60px 0 50px 0;
        min-height: 570px;
        .title_left{
            text-align: center;
            font-size: 30px;
            margin-bottom: 8px;
            line-height: 39px;
        }
        &__descr{
            text-align: center;
            line-height: 20px;
            font-size: 15px;
        }
        .feed-form{
            margin: 30px auto;
            width: 280px;
            .button_submit{
                font-size: 15px;
            }
        }
    }
    .carousel{
        padding-bottom: 81px;
        &__inner{
            width: 450px;
            max-height: 300px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .catalog{
        padding: 0 0 60px 0;
        &__tab{
            width: 150px;
            font-size: 15px;
        }
        &__content{
            min-width: 550px;
        }
    }
    .reviews{
        .title{
            margin-bottom: 40px;
        }
        &-item{
            margin-bottom: 50px;
            &__name{
                font-size: 17px;
            }
            &__subheader{
                font-size: 12px;
            }
            &__text{
                font-size: 14px;
                line-height: 17px;
            }
        }

    }
    .button{
        &:hover {
            background-color: $main-color;
            box-shadow: none;
        }
    }
    .footer{
        height: 500px;
        &__map{
            height: 500px;
        }
        &__info{
            width: 350px;
            height: 200px;
            padding: 30px;
        }
        &__addr{
            margin-bottom: 20px;
            line-height: 17px;
            font-size: 17px;
        }
        &__phone{
            margin-bottom: 25px;
            line-height: 18px;
            font-size: 18px;
        }
        &__social{
            &-item{
                width: 45px;
                height: 45px;
                &:hover {
                    box-shadow: none;
                }
                img{
                    height: 22px;
                }  
            }
        }
    }
    .modal{
        width: 300px;
        padding: 25px 30px 25px 30px;
        min-height: 370px;
        &__close{
            cursor: none;
        }
        &__subtitle{
            font-size: 15px;
        }
        &__descr{
            font-size: 11px;
        }
        .feed-form{
            width: 240px;
            input{
                height: 48px;
                padding: 0 16px;
            }
            .button_submit{
                height: 50px;
                font-size: 15px;
            }
        }
    }   
}
@media (max-width: 576px){
    .promo{
        min-height: 450px;
        padding: 21px 0 15px 0;
        .header{
            margin: 0 10px;
            &__logo{
                width: 160px;
            }
            &__official{
                display: none;
            }
            .button{
                width: 124px;
                font-size: 10px;
            }
            &__phone{
                font-size: 11px;
                margin-bottom: 0px;
            }
        }
        &__header{
            font-size: 21px;
            line-height: 15px;
        }
        &__subheader{
            font-size: 10px;
        }
        &__icons{
            margin-top: 15px;
        }
        &__icon{
            padding-right: 15px;
            &:nth-child(3){
                padding-right: 0;
            }
        }
        .button_main{
            width: 225px;
            height: 45px;
            margin-top: 35px;
            font-size: 13px;
        }
        &__link{
            margin-top: 10px;
            font-size: 11px;
        }
    }
    .advantages{
        padding: 30px 0;
        .title{
            font-size: 20px;
            margin-bottom: 0;
        }
        &__item{
            padding-right: 0;
            img{
                margin-top: 20px;
            }
        }
        &__descr{
            width: 270px;
            margin-top: 13px;
            font-size: 10px;
        }
    }
    .consultation{
        min-height: 460px;
        padding: 45px 0;
        .title_left{
            font-size: 20px;
            line-height: 31px;
            margin: 0 8px;
        }
        &__descr{
            line-height: 20px;
            font-size: 13px;
        }
        .feed-form{
            width: 250px;
            margin: 25px auto;
            input{
                height: 45px;
                font-size: 13px;
                padding: 0 15px;
            }
            .button_submit{
                font-size: 13px;
                height: 45px;
            }
        }
    }
    .carousel{
        padding: 30px 0;
        &__inner{
            width: 270px;
            height: 120px;
            img{
                width: 100%;
                height: 100%; 
            }
        }
        
    }
    .catalog{
        padding: 98px 0 50px 0;
        &__tabs{
            margin-top: 15px;
            flex-direction: column;
        }
        &__content{
            min-width: 320px;
            margin-top: 35px;
        }
        &-item{
            width: 70%;
            height: 60%;
            padding: 20px 15px 26px 15px;
            &__subtitle{
                font-size: 14px;
                margin-top: 15px;
            }
            &__descr{
                font-size: 11px;
                margin-top: 8px;
            }
            &__list{
                li{
                    font-size: 13px;
                    line-height: 15px;
                    margin-bottom: 13px;
                }
            }
            &__price{
                font-size: 18px;
            }
            .button_mini{
                width: 100px;
                height: 38px;
                font-size: 13px;
            }
        }
        .title{
            font-size: 20px;
        }
        &__tab{
            width: 220px;
            font-size: 15px;
            height: 35px;
            line-height: 33px;
            margin-top: 10px;
        }
    }
    .reviews{
        .title{
            font-size: 20px;
        }
        &-item{
            flex-direction: column;
            text-align: center;
            &__photo{
                margin-right: 0;
                margin-bottom: 20px;
            }
            &__text{
                line-height: 20px;

            }
        }
    }
    .footer{
        &__info{
            width: 100%;
        }
        &__addr{
            line-height: 16px;
            font-size: 16px;
        }
        &__phone{
            margin-bottom: 30px;
            line-height: 17px;
            font-size: 17px;
        }
    }
    .modal{
        width: 250px;
        padding: 15px 20px 15px 22px;
        min-height: 320px;
        &__close{
            right: -27px;
            font-size: 30px;
            line-height: 18px;
        }
        &__subtitle{
            font-size: 13px;
        }
        &__descr{
            font-size: 9px;
        }
        .feed-form{
            width: 200px;
            margin-top: 20px;
            margin-right: 0;
            input{
                height: 40px;
                font-size: 13px;
            }
            .button_submit{
                height: 45px;
                font-size: 13px;
            }
        }
    }

}