.consultation{
    min-height: 680px;
    padding: 100px 0 91px 0;
    background: url('../img/bg_second.jpg') center (center/cover) no-repeat;
    &__descr{
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }
}